.typing-text {
  display: inline-block;
  border-right: 2px solid #fff;
}

.three-elements-container {
  margin: 0 auto;
  width: 760px;
  overflow: hidden;
}

.three-elements-container li {
  float: left;
  width: 30%;
}

.three-elements-container .middle-li {
  width: 5% !important;
}

.slot-words {
  margin-top: 40px;
  margin-bottom: 12px;
}

.slot-words li {
  font-size: 24px;
  overflow: hidden;
}

.slot-word-li {
  background-color: #fae7cb;
  border-radius: 8px;
  color: #484848;
}

.slot-words input {
  padding: 20px 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.slot-words p {
  padding: 20px 0;
}

.switch-controller {
  margin-bottom: 36px;
}

.shuffle-btn {
  font-size: 20px !important;
  border-radius: 12px !important;
}
