.App {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  margin: 24px 0 12px;
}

h2 {
  font-size: 36px;
  margin: 8px 0;
  font-weight: normal;
  display: inline-block;
  border-right: 2px solid #fff;
}

.three-elements-container {
  margin: 0 auto;
  width: 760px;
  overflow: hidden;
}

.three-elements-container li {
  float: left;
  width: 30%;
}

.three-elements-container .middle-li {
  width: 5% !important;
}

.slot-words {
  margin-top: 40px;
  margin-bottom: 12px;
}

.slot-words li {
  font-size: 24px;
  overflow: hidden;
}

.slot-word-li {
  background-color: #fae7cb;
  border-radius: 8px;
  color: #484848;
}

.slot-words input {
  padding: 20px 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.slot-words p {
  padding: 20px 0;
}

.switch-controller {
  margin-bottom: 36px;
}

.description {
  margin: 4px;
  font-size: 17px;
  display: inline-block;
  border-right: 2px solid #fff;
}

.description svg {
  font-size: 24px;
  position: relative;
  top: 4px;
}

footer {
  background-color: #333;
  color: #f1f1f1;
  padding: 8px;
  font-size: 13px;
  margin-top: 80px;
}
