.App {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  margin: 24px 0;
}

h2 {
  font-size: 36px;
  margin: 16px 0;
  font-weight: normal;
}

.slot-words {
  overflow: hidden;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 760px;
}

.slot-words li {
  float: left;
  width: 30%;
  font-size: 24px;
  overflow: hidden;
}

.slot-word-li {
  border-bottom: 4px solid #3978ef;
}

.slot-words p {
  padding: 25px 0 8px;
}

.slot-words .middle-li {
  width: 2.4% !important;
  margin-right: 2.4%;
  position: relative;
  left: 5.5px;
}
.description {
  margin: 4px;
}

.description svg {
  font-size: 24px;
  position: relative;
  top: 4px;
}

footer {
  background-color: #333;
  color: #f1f1f1;
  padding: 8px;
  font-size: 13px;
  margin-top: 80px;
}
