@import "./Model.scss";

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* ---------- reset css start  ---------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* ---------- reset css end  ----------  */

#root {
  border-top: 8px solid $mainColor;
  color: $textColor;
  text-align: center;
}

.yellow-btn {
  background-color: $mainColor !important;
}

.white {
  color: white;
}

.App {
  margin: 0 auto;
  width: 800px;
}

h2 {
  font-size: 32px;
  margin: 8px 0;
  font-weight: normal;
  display: inline-block;
  border-right: 2px solid #fff;
}

.margin8 {
  overflow: hidden;
  margin: 8px !important;
}

.loading-wrapper {
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.description {
  margin: 4px;
  font-size: 17px;
  display: inline-block;
  border-right: 2px solid #fff;
}

.description svg {
  font-size: 24px;
  position: relative;
  top: 4px;
}
